<h1 style="text-align: center">Log In to The PIT</h1>

<div id="log_in_form" class="center">
    <%= form_with model: @user, url: '/sessions' do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %><br>

        <%= f.label :password %>
        <%= f.password_field :password %><br>

        <%= f.submit "Log In" %>
        
    <% end %>
</div>

<div class="center" style="text-align: center">
<%= link_to('Log in with Facebook!', '/auth/facebook') %>
</div>