<h1 style="text-align: center">Contribute a set design to <%= @show.title %></h1>

<% if @contribution.errors.any? %>
    <div class="errors_explanation", style="padding: 20px">
        <% @contribution.errors.values.each do |m| %>
            <p><%= m.to_sentence %></p>
        <% end %>
    </div>
<% end %>

<div class="form_container" style="padding-left: 20px">
    <%= form_with model: @contribution, url: "/shows/#{@show.id}/contributions", local: :true do |f| %>

    <%= f.label "Title" %><br>
    <%= f.text_field :title, placeholder: "e.g. Manhattan Skyline Set Design", size: 50 %><br><br>

    <%= f.label :content, "Describe your design" %><br>
    <div <% if @contribution.errors.keys.include?(:rich_content) %> class="field_with_errors" <% end %>>
    <%= f.rich_text_area :rich_content, placeholder: "e.g. For the opening scene, when we meet our protagonist." %><br>
    </div>

    <%= f.label "Upload an image of your set design" %>
    <%= f.file_field :image %>

    <%= f.hidden_field :kind, value: "Set" %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :show_id, value: @show.id %><br>

    <%= f.submit "Submit Set Design" %>

<% end %>
</div>