<h1 style="text-align: center">Contribute a song to <%= @show.title %></h1>

<% if @contribution.errors.any? %>
    <div class="errors_explanation", style="padding: 20px">
        <% @contribution.errors.values.each do |m| %>
            <p><%= m.to_sentence %></p>
        <% end %>
    </div>
<% end %>

<div class="form_container" style="padding-left: 20px">
    <%= form_with model: @contribution, url: "/shows/#{@show.id}/contributions", local: :true do |f| %>

    <%= f.label "Title" %><br>
    <%= f.text_field :title, placeholder: "e.g. Some Enchanted Evening", size: 50 %><br><br>

    <%= f.label :content, "Lyrics" %><br>
    <%= f.rich_text_area :rich_content, placeholder: "e.g. Some enchanted evening you may see a stranger. You may see a stranger across a crowded room.", size: "49x10" %><br>

    <%= f.label "Upload a recording of your song" %>
    <%= f.file_field :audio_file %>

    <%= f.hidden_field :kind, value: "Song" %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :show_id, value: @show.id %><br>

    <%= f.submit "Submit Song" %>

<% end %>
</div>