<h1>Contribute to <%= @show.title %></h1>

<div class="form_container" style="padding-left: 20px">
    <%= form_with model: @contribution, url: "/shows/#{@show.id}/contributions" do |f| %>

    <%= f.label :title %><br>
    <%= f.text_field :title, placeholder: "e.g. Act II, Scene I", size: 50 %><br><br>

    <%= f.label :content %><br>
    <%= f.text_area :content, placeholder: "e.g. 
POLONIUS
I hear him coming. Withdraw, my lord.

Exeunt King and Polonius.

Enter Hamlet.

HAMLET
To be, or not to be, that is the question:", size: "49x10" %><br><br>

    <%= f.label :kind %>
    <%= f.select :kind, ['Song', 'Scene', 'Costume Design', 'Set Design'], include_blank: true %>

    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :show_id, value: @show.id %><br><br>

    <%= f.label "Upload an image of your Costume or Set Design" %>
    <%= f.file_field :image %><br><br>

    <%= f.label "Upload a recording if you're submitting a song" %>
    <%= f.file_field :audio_file %><br><br>

    <%= f.submit "Submit Contribution" %><br><br>

<% end %>
</div>

