<h1>New Show Form</h1>
<hr>

<%= form_with model: @show, url: "/users/#{current_user.id}/shows" do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %><br>

    <%= f.label :synopsis %>
    <%= f.text_area :synopsis %><br>

    <%= f.label :character_list %>
    <%= f.rich_text_area :rich_character_list %><br>

    <%= f.hidden_field :creator_id, value: current_user.id %>

    <%= f.submit "Create Show" %><br><br>

<% end %>

<div>
    <%= button_to "Return to Dashboard", user_dashboard_path(current_user), method: :get %>
</div>