<div id="show_container" style="padding-left: 20px">
    <h1 style="text-align: center"><%= @show.title %></h1>
    <p style="text-align: center">Created by: <%= link_to @show.creator.name, @show.creator %></p>  
    <p style="text-align: center">Number of Contributors: 
    
        <!-- Trigger/Open The Modal -->
    
    <button id="myBtn"><%= @show.contributors.uniq.count %></button>

        <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <% if @show.contributors.empty? && !current_user %>
            <p><%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %> to contribute to this show.</p>
        <% elsif @show.contributors.empty?%>
            <p>Be the first to <%= link_to "Contribute To This Show", contribution_select_path(@show), method: :get %></p>
        <% else %>
            <% @show.contributors.uniq.each do |contributor| %>
                <p><%= link_to contributor.name, contributor %></p>
            <% end %>
        <% end %>
    </div>
</div>

</p><hr>


    <% if @show.logo.attached? %>
        <div id="logo_container" style="text-align: center">
            <%= image_tag(@show.logo, height: "200") %>
        </div>
    <% end %>

    <div style="text-align: center">
        <% if !current_user %>
            <p><%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %> to contribute to this show.</p>
        <% else %>
            <p><%= link_to "Contribute to this Show", contribution_select_path(show) %></p>
        <% end %>
    </div>

    <h3>Synopsis:</h3>
    <%= @show.rich_synopsis %><hr>

    <h3>Characters:</h3>
    <%= @show.rich_character_list %><hr>


    <% if @show.contributions.empty? && !current_user%>
        <h2><%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %> to contribute to this show.</h2>
    <% elsif @show.contributions.empty? %>
        <h2>Be the first to <%= link_to "Contribute To This Show", contribution_select_path(@show), method: :get %></h2>
    <% else %>
<div id = "boxes"> 
            <div id = "leftbox"> 
                <h2>Scenes</h2><hr> 
                <% @show.scenes.each do |c| %>
                    <h4><%= link_to c.title, show_contribution_path(@show, c) %></h4>
                    <p><%= c.kind %> contributed by: <%= link_to c.contributor.name, c.contributor %></p>
                <% end %>
            </div>  
              
            <div id = "middlebox"> 
                <h2>Songs</h2><hr>
                <% @show.songs.each do |c| %>
                    <h4><%= link_to c.title, show_contribution_path(@show, c) %></h4>
                    <%= audio_tag url_for(c.audio_file), controls: true, preload: "none" %><br>
                    <p><%= c.kind %> contributed by: <%= link_to c.contributor.name, c.contributor %></p>
                <% end %>
            </div> 
              
            <div id = "rightbox"> 
                <h2>Designs</h2><hr> 
                <% @show.designs.each do |c| %>
                    <h4><%= link_to c.title, show_contribution_path(@show, c) %></h4>
                    <%= link_to image_tag(c.image, {style: "height: 100px"}), show_contribution_path(@show, c) %><br>
                    <p><%= c.kind %> contributed by: <%= link_to c.contributor.name, c.contributor %></p>
                <% end %>
            </div> 
        </div>
        <% end %>




<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>