<div id="show_container" style="padding-left: 20px">
    <h1 style="text-align: center"><%= @show.title %></h1><hr> 
   
    <% if @show.logo.attached? %>
        <div id="logo_container" style="text-align: center">
            <%= image_tag(@show.logo, height: "200") %>
        </div>
    <% end %>

     <div style="text-align: center">
        <%= button_to "Contribute To This Show", new_show_contribution_path(@show), method: :get %>
    </div>

    <h3>Synopsis:</h3>
    <%= @show.rich_synopsis %><hr>

    <h3>Characters:</h3>
    <%= @show.rich_character_list %><hr>

    <h3>Contributions:</h3>
    <% if @show.contributions.empty? %>
        <p>Be the first to <%= link_to "Contribute To This Show", new_show_contribution_path(@show)%></p>
    <% end %>
    <% @show.contributions.each do |c| %>
        <h4><%= link_to c.title, show_contribution_path(@show, c) %></h4>
        <p>Contributed by: <%= link_to c.contributor.name, c.contributor %></p>
    <% end %>

    
</div>

